<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{/fragments/head}" />
    </head>
    <body>
        <div class="wrapper">
            <!-- Navigation -->
            <header>
                <th:block th:insert="~{/fragments/header}" />
            </header>

            <section th:each="route: ${routes}" class="road">
                <img src="/images/pic4.jpg" alt="Title image" />
                <div>
                    <h2 th:text="${route.getName()}" />
                    <p th:text="${route.getDescription()}" />
                    <a th:href="@{/routes/details/{id}(id=${route.id})}" class="btn">Learn More</a>
                </div>
            </section>
        </div>
        <!-- Wrapper Ends -->
    </body>
    <footer class="footer bg-blur rounded">
        <th:block th:insert="~{/fragments/footer}" />
    </footer>
</html>
