<nav class="main-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a th:href="@{/about}">About</a>
        </li>
        <li th:unless="${@loggedUser.isLogged}">
            <a th:href="@{/users/login}">Login</a>
        </li>
        <li th:unless="${@loggedUser.isLogged}">
            <a th:href="@{/users/register}">Register</a>
        </li>
        <li th:if="${@loggedUser.isLogged}">
            <a th:href="@{/routes/add}">Add new route</a>
        </li>
        <li th:if="${@loggedUser.isLogged}">
            <a href="/">Profile</a>
        </li>
        <li th:if="${@loggedUser.isLogged}">
            <a href="/">Admin</a>
        </li>
        <li th:if="${@loggedUser.isLogged}">
            <form th:action="@{users/logout}" th:method="post">
                <input type="submit" value="Logout" />
            </form>
        </li>
    </ul>
</nav>
